<div id="fh5co-about">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>About Us</h2>
					<p><strong>Bodywork Treatments and Therapeutic Massage</strong> is a place focused on its clients. We work on promoting and improving your well-being and health. We create a set of therapeutic oils that address your needs. Furthermore, our goal is to educate you on how to improve your quality of life.</p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center heading-section">
					<h3>Our History</h3>
					<p>At <strong>Bodywork Treatments and Therapeutic Massage</strong>, you will find yourself as part of a unique universe.</p>
				</div>
			</div>

			<div class="row row-bottom-padded-md">
				<div class="col-md-12 text-center animate-box">
					<p><img src="images/herman.jpg" alt="Get to know us" class="img-responsive img-rounded"></p>
				</div>
			</div>
		</div>
</div>