
	<div id="fh5co-wireframe">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Services</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5 animate-box">
					<div class="user-frame">
						<h3>AT BODYWORK TREATMENTS AND THERAPEUTIC MASSAGE, WE TAKE CARE OF YOUR MUSCLE HEALTH.</h3>
						<p>BTM promotes a comprehensive health care through the synchronization between mind and body. </p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-slider">
		<div class="container">
			<div class="row">
				<div class="col-md-6 animate-box">
					<div class="heading">
						<h2>Searching for a place to <b>Heal<b></b></h2>
						<p>We can help you with our sports massage, hot Stones and Ayurvedic Massages.</p><br>
					</div>
				</div>
				<div class="col-md-6 col-md-push-1 animate-box">
					<aside id="fh5co-hero">
					<div class="flexslider">
						<ul class="slides">
					   	<li style="background-image: url(images/img_bg_4.jpg);">
					   		<div class="overlay-gradient"></div>
					   		<div class="container-fluid">
					   			<div class="row">
						   			<div class="col-md-12 col-md-offset-0 col-md-pull-10 slider-text slider-text-bg">
						   				{{!-- <div class="slider-text-inner">
						   					<div class="desc">
													<p><span>Searching For a Place<br>to Heal</span></p>
													<p><span>We Can Help You With</span>Sport Massages</p>
						   					</div>
						   				</div> --}}
						   			</div>
						   		</div>
					   		</div>
					   	</li>
					   	<li style="background-image: url(images/img_bg_2.jpg);">
					   		<div class="overlay-gradient"></div>
					   		<div class="container-fluid">
					   			<div class="row">
						   			<div class="col-md-12 col-md-offset-0 col-md-pull-10 slider-text slider-text-bg">
						   				{{!-- <div class="slider-text-inner">
						   					<div class="desc">
													<p><span>Searching For a Place<br>to Bond</span></p>
													<p><span>We Can Help You With</span>Couples Massages</p>
						   					</div>
						   				</div> --}}
						   			</div>
						   		</div>
					   		</div>
					   	</li>
					   	<li style="background-image: url(images/img_bg_3.jpg);">
					   		<div class="overlay-gradient"></div>
					   		<div class="container-fluid">
					   			<div class="row">
						   			<div class="col-md-12 col-md-offset-0 col-md-pull-10 slider-text slider-text-bg">
						   				{{!-- <div class="slider-text-inner">
						   					<div class="desc">
													<p><span>Searching For a Place<br>to Relax</span></p>
													<p><span>We Can Help You With</span>Hot Stones</p>
						   					</div>
						   				</div> --}}
						   			</div>
						   		</div>
					   		</div>
					   	</li>		   	
					  	</ul>
				  	</div>
				</aside>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-blog">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Recent Post</h2>
					<p><strong>Bodywork Treatments and Therapeutic Massage</strong> is a place focused on its clients. We work on promoting and improving your well-being and health. We create a set of therapeutic oils that address your needs. Furthermore, our goal is to educate you on how to improve your quality of life.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url(images/blog-1.jpg);"></a>
						<div class="blog-text">
							<span class="posted_on">Feb. 15th 2017</span>
						</div> 
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url(images/blog-2.jpg);"></a>
						<div class="blog-text">
							<span class="posted_on">Feb. 15th 2017</span>
						</div> 
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url(images/blog-3.jpg);"></a>
						<div class="blog-text">
							<span class="posted_on">Feb. 15th 2017</span>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="fh5co-started">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Why Us!</h2>
					<p><a href="/contact" class="btn btn-default btn-lg">Contact Us</a></p>
                    <p>Bodywork Treatments and Therapeutic Massage is meant to be a holistic center where clients grow and become better people.</p>
				</div>
			</div>
		</div>
	</div>

	</div>

	