<section></section>
        <form action="/plans/{{plan._id}}/add-session" method="post" enctype="multipart/form-data"> 
                <fieldset><legend>Edit User</legend>
                
                        <label for="">Session number: </label>
                        <input type="number" name="session" class="input-form-session">
                
                        <label for="">Education:</label>
                        <textarea name="education" class="input-form-session" cols="30" rows="10"></textarea>

                        <label for="">Tips:</label>
                        <textarea name="tips" class="input-form-session" cols="30" rows="10"></textarea>

                        <label>Image session </label>
                        <input type="file" name="imageSession" class="input-form-session">


                        <button type="submit">Add Session </button>
        </form>
</section>
