<form action="/plans/{{plan._id}}/add-session" method="post" enctype="multipart/form-data"> 
        
        <label for="">Session number: </label>
        <input type="number" name="session">
      
        <label for="">Education:</label>
        <textarea name="education" id="" cols="30" rows="10"></textarea>

        <label for="">Tips:</label>
        <textarea name="tips" id="" cols="30" rows="10"></textarea>

        <label>Image session </label>
        <input type="file" name="imageSession" id="">


        <button type="submit">Add Session </button>
</form>

