<div class="container">
  <div class="row row-offcanvas row-offcanvas-left no-gutters">
    <div id="sidebar" class="sidebar sidebar-offcanvas col-lg-2">
      <div id="menu" role="tablist">
        <ul class="menu">
          <li class="login d-lg-none menu-item">
            <div class="card">
              <div class="link-login d-lg-none align-items-center px-4 py-3">
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="content container-content col-12 col-lg-10">
          <div id="page-wrapper" class="page-wrapper article-wrapper">
            <article>
              <section class="intro">
                <div class="breadcrumb text-center mx-auto col-12">
                  <div class="inner">
                    <a class="category ga-breadcrumb-link" href="https://www.whattoexpect.com/pregnancy/">Your Progress</a>  
                    <a class="category ga-breadcrumb-link" href="https://www.whattoexpect.com/pregnancy/week-by-week/">Week by Week</a>
                  </div>
                </div>
                <div class="wbw-hero text-center">
                  <h1 class="wbw-hero__headline">Fitness Plan Day 1</h1>
                  <div class="wbw-hero__description">Track your Progress</div>
                  <a class="wbw-hero__navigation left" href="https://www.whattoexpect.com/pregnancy/week-by-week/week-15.aspx"></a> 
                  <a class="wbw-hero__navigation right" href="https://www.whattoexpect.com/pregnancy/week-by-week/week-17.aspx"></a>
                </div>
                <div class="wbw-hero__circles">
                  <div class="wbw-hero__circles__fruit">
                    <img class="wbw-hero__circles__fruit__circle" src="https://images.agoramedia.com/wte3.0/gcms/pregnancy-week37-baby-development-image-b.svg" alt="Week 1">
                  </div>
                </div>
              </section>
              <section class="maincontent py-0 clearfix">
                <div class="article-row row no-gutters">
                  <div class="left col-12 col-lg-7 pt-4">
                    <div class="row no-gutters">
                      <div class="col">
                        <div class="in-this-article">
                          <div class="in-this-article__header">
                            <div class="in-this-article__header__title"><span class="in-this-article__header__title__image"></span> EXPLORE PROGRESS WEEK 1
                            </div>
                            <div class="in-this-article__header__line"></div>
                          </div>
                          <ul class="in-this-article__items">
                            <li class="in-this-article__item">
                              <a scroll-to="#section-baby" data-ga-category="content navigation" data-ga-action="WBW Section Click" href="/recipes" class="in-this-article__item__link" title="Baby"> Recipes </a>
                            </li>
                            <li class="in-this-article__item">
                              <a scroll-to="#section-body" data-ga-category="content navigation" data-ga-action="WBW Section Click" href="/workouts" class="in-this-article__item__link" title="Body"> Workouts </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="article-body">
                      <section class="your-baby" id="section-baby">
                        <h2 class="your-baby__headline">Your Body at Week 1</h2>
                        <div>
                          <h3><strong>Build Muscle </strong></h3>
                          <p>In three short weeks you’ll be on your way to an amazing summer body with this slim down challenge! We’ll supply you with new recipes, workouts, and weight loss tips each week. For best results, try to exercise for at least 30 minutes, 5 days per week.</p>
                        </div>
                        <section class="wbw-video wte-section">
                          <div id="ign-video-28c1e00f909b464c1ba7048184b74b9c" data-ign-video-id="28c1e00f909b464c1ba7048184b74b9c" data-ign-video-title="Watch Your Baby’s Growth at Week 16" class="wbw-video__ign-video-player ign-video mt-1">
                          </div>
                        </section>
                        <div class="your-baby__dev">
                          <div class="your-baby__dev__descr-c">
                            <h3 class="your-baby__dev__descr-c__headline">Tips</h3>
                            <div class="your-baby__dev__descr-c__items">
                              <div class="your-baby__dev__descr-c__items__item">
                                <div class="your-baby__dev__descr-c__items__item__img-c">
                                  <img src="https://images.agoramedia.com/wte3.0/gcms/pregnancy-week16-baby-development-image-a.svg" class="rounded-circle your-baby__dev__descr-c__items__item__img-c__img">
                                </div>
                                <div class="your-baby__dev__descr-c__items__item__body-c">
                                  <div class="your-baby__dev__descr-c__items__item__body-c__headline">Make a grocery plan</div>
                                  <div class="your-baby__dev__descr-c__items__item__body-c__body">Take 10 minutes today to plan out your meals for the week, and then hit the store!</div>
                                </div>
                              </div>
                              <div class="your-baby__dev__descr-c__items__item">
                                <div class="your-baby__dev__descr-c__items__item__img-c">
                                  <img src="https://images.agoramedia.com/wte3.0/gcms/pregnancy-week16-baby-development-image-b.svg" class="rounded-circle your-baby__dev__descr-c__items__item__img-c__img">
                                </div>
                                <div class="your-baby__dev__descr-c__items__item__body-c">
                                  <div class="your-baby__dev__descr-c__items__item__body-c__headline">Move!</div>
                                  <div class="your-baby__dev__descr-c__items__item__body-c__body">Challenge yourself with a full-body toning workout that will tighten every inch!</div>
                                </div>
                              </div>
                              <div class="your-baby__dev__descr-c__items__item">
                                <div class="your-baby__dev__descr-c__items__item__img-c"><img src="https://images.agoramedia.com/wte3.0/gcms/pregnancy-week16-baby-development-image-c.svg" class="rounded-circle your-baby__dev__descr-c__items__item__img-c__img">
                                </div>
                                <div class="your-baby__dev__descr-c__items__item__body-c">
                                  <div class="your-baby__dev__descr-c__items__item__body-c__headline">Drink more water!</div>
                                  <div class="your-baby__dev__descr-c__items__item__body-c__body">To be sure you’re getting enough water, set an alarm on your phone or computer to remind yourself to drink up.</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                      {{> progressRoutine}}
                      {{> feedbackRoutine}}
                    </div>
                  </div>
                </div>
              </section>
            </article>
          </div>
      </div>
    </div>
  </div>
</div>   