{{#if admin}}
  <div>
    <h1>Welcome to {{title}}<span style="color: red;"> {{ admin.role}}</span></h1>  
    <a href="/">Index</a><br>
    <a href="/plans/add">Create Plan</a><br>
    <a href="/plans/">Manage Plans</a><br>
    <a href="/user/manage">Manage Users</a><br>
  </div>
{{/if}}