
{{#if user}}
  <div>
    <h1>Welcome to {{title}}<span style="color: red;"> {{ user.fullName}}</span></h1>  
    <img src="http://25.media.tumblr.com/f13f252b62ff216f31fa7c66ebeace0a/tumblr_mrqs4eA7XN1r2zyogo1_500.gif" alt="Break Free or Die Trying."><br>
    <a href="/">Index</a><br>
  </div>
{{/if}}
{{#each user.plan}}
  <a href="/plans/{{this._id}}">{{this.name}}</a><br>
{{/each}}